<div class="container">
  <h3 class="text-red">Welcome to angular</h3>
  <hr>
<!--  <app-servers></app-servers>-->
<!--  <app-practice2></app-practice2>-->
  <div class="row">
    <div class="col-xs-12">
      <app-gamecontrol (interFired)="onIntervalFired($event)"></app-gamecontrol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
     <app-odd *ngFor="let odd of oddNumbers" [number]="odd"></app-odd>
    </div>
    <div class="col-md-2">
     <app-even *ngFor="let even of evenNumbers" [number]="even"></app-even>
    </div>
  </div>
</div>

